@{
    ViewBag.Title = "Home Page";
}

<<div class="jumbotron">
    <h1>Fantasy Pet Stop</h1>
    <p class="lead">This is a pet store where you can git that Mythical Beast you always wanted!
    Dragons Unicorns Dire Wolves and much more there a beast  for everyone!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What will you CHOOSE!</h2>
        <p>
            Look throught our Database of Fantastic Creatures. If you can't find in there then just add it yourself, you have full access to add delete or edit anything in there.
        </p>
    </div>

</div>